



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #0a192f;
    color: #ffffff;
}


header{
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(10,25,47,0.95);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00bfff;
    z-index: 1000;
}

.logo{
    font-weight: bold;
    font-size: 18px;
    color: #00bfff;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

nav a:hover{
    color: #00bfff;
}


.section{
    min-height: 100vh;
    padding: 120px 60px 60px 60px;
}

h1, h2{
    margin-bottom: 20px;
    color: #00bfff;
}


.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.texto{
    max-width: 600px;
}

.imagen img{
    width: 250px;
    border-radius: 10px;
    border: 2px solid #00bfff;
    box-shadow: 0 0 20px #00bfff;
    
    object-fit: cover;
}


.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #112240;
    color: white;
    padding: 20px;
    border-radius: 8px;
border: 1px solid #00bfff;
flex: 1 1 200px;
    text-align: center;
    transition: all 0.3s ease; 
    cursor: pointer;
    margin-bottom: 30px;
}


.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3); 
}


.lista{
    list-style: none;
    line-height: 2;
    font-size: 18px;
}


#contacto p{
    line-height: 2;
}


footer{
    text-align: center;
    padding: 20px;
    border-top: 1px solid #00bfff;
    background: #0a192f;
}